{% extends "main.html" %}
{% block content %}
<!--Fixed navbar-->
{% include "navbar.html" %}
<!--main page-->
<div class="container">
  <h1>{{restaurant.name}}</h1>
  <!--MESSAGE FLASHING-->
  {% with messages = get_flashed_messages() %}
	 {% if messages %}
      <div class="alert alert-success">
        <ul>
		    {% for message in messages %}
  		  <li><strong>{{message}}</strong></li>
  		  {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endwith %}
  <p>
    <a href='{{url_for('showRestaurants')}}' class="btn btn-info">Back to Restaurants</a>
    <a href='{{url_for('newMenuItem', restaurant_id = restaurant.id)}}' class="btn btn-primary">Add Item</a>
    <a href='{{url_for('editRestaurant', restaurant_id = restaurant.id)}}' class="btn btn-warning">Edit</a>
    <a href='{{url_for('deleteRestaurant', restaurant_id = restaurant.id)}}' class="btn btn-danger">Delete</a>
  </p>
</div>
<!-- list items by course-->
<div class="container">
  <div class="row">
    {% for course in courses %}
    <div class="col-md-3">
      <div class = "panel panel-default">
         <div class ="panel-heading">
	       <h3 class="panel-title">{{course[0]}}</h3>
         </div>
         <div class="panel-body">
	       {% for i in items %}
		        {% if i.course == course[0] %}
		          <p>{{i.name}}</p>
		          <p>{{i.description}}</p>
		          <p> {{i.price}} </p>
		          <p><a href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id)}}' class="btn btn-xs btn-warning">Edit</a>
		          <a href='{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id)}}' class="btn btn-xs btn-danger">Delete</a>
		          </p>
		          {% endif %}
	       {% endfor %}
         </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock %}