<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Restaurants Memu</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href='{{url_for('showRestaurants')}}'>Home</a></li>
            <li><a href='{{url_for('newRestaurant')}}'>Create New Restaurant</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href='{{url_for('showLogin')}}'>Login</a></li>
            <li><a href='{{url_for('gdisconnect')}}'>Logoff</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>