{% extends "main.html" %}
{% block content %}

<!--Fixed navbar-->
{% include "navbar.html" %}
	<div class="container">
		<h1> Add Menu Item </h1>
		<form action="{{url_for('newMenuItem', restaurant_id=restaurant_id )}}" method = 'POST'>
			<label>Name:</label><br>
			<input type='text' size='30' name='name'><br>
			<label>Description:</label><br>
			<textarea maxlength='90' name='description' style="width:216"></textarea><br>
			<label>Price:</label><br>
			<input type='text' size='5' name='price'><br>
			<label>Course:</label><br>
			<input type='radio' name='course' value='Appetizer' checked> Appetizer
			<br>
			<input type='radio' name='course' value='Entree'> Entree
			<br>
			<input type='radio' name='course' value='Dessert'> Dessert
			<br>
			<input type='radio' name='course' value='Beverage'> Beverage
			<br>
			<input type='submit' value='Create' class="btn btn-success">
			<a href = "{{url_for('restaurantMenu', restaurant_id = restaurant_id)}}">Cancel</a>
		</form>
	</div>
{% endblock %}