{% extends "main.html" %}
{% block content %}

<!--Fixed navbar-->
{% include "navbar.html" %}
<!--main page-->
<div class="container">
  <h1>Restaurants List</h1>
  <!--MESSAGE FLASHING-->
  {% with messages = get_flashed_messages() %}
	 {% if messages %}
      <div class="alert alert-success">
        <ul>
		    {% for message in messages %}
  		  <li><strong>{{message}}</strong></li>
  		  {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endwith %}
</div>

<!-- list restaurants -->
<div class="container">
  <div class="row">
  	{% for i in restaurants %}
    <div class="col-md-9">
      	<h3><a href='{{url_for('restaurantMenu', restaurant_id = i.id)}}'>{{i.name}}</a></h3> 
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}