{% extends "main.html" %}
{% block content %}
<!--Fixed navbar-->
{% include "navbar.html" %}
<!--main page-->
<div class="container">
      <h1>{{ restaurant.name }}</h1>
      <div class="pull-right">
        Creator: {{ creator.name }}
        <img src="{{ creator.picture}}" style="width:40px; height:40px" class="img-circle">
      </div>

  <!--MESSAGE FLASHING-->
  {% with messages = get_flashed_messages() %}
	 {% if messages %}
      <div class="alert alert-success">
        <ul>
		    {% for message in messages %}
  		  <li><strong>{{message}}</strong></li>
  		  {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endwith %}
  <p><a href='{{url_for('showRestaurants')}}' class="btn btn-info">Back to Restaurants</a></p>
</div>
<!-- list items by course-->
<div class="container">
  <div class="row">
    {% for course in courses %}
    <div class="col-md-3">
      <div class = "panel panel-default">
         <div class ="panel-heading">
	       <h3 class="panel-title">{{course[0]}}</h3>
         </div>
         <div class="panel-body">
	       {% for i in items %}
		        {% if i.course == course[0] %}
		          <p>{{i.name}}</p>
		          <p>{{i.description}}</p>
		          <p> {{i.price}} </p>
		          <p></p>
		          {% endif %}
	       {% endfor %}
         </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock %}